body{
    background-color: #94e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}

form{
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

h1{
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}
img
{
    width: 100px;
    height: 100px;
}
